@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: "Inter", sans-serif !important;
}
body{
    background-color: #fff !important;
}

/*spinner loader start*/

#loading{
    height: 3%;
    width: 3%;
    border: 5px solid #222222;
    border-top: 6px solid #59B20E;
    border-radius: 100%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /* visibility: hidden; */
    animation: spin 1s infinite linear;
}

#loading.display{
    visibility: visible !important;
}

#loading.hide{
    visibility: hidden !important;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/*spinner loader end*/


#cart{
    overflow-x: auto;
    margin: 35px 0px;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

 td.paraWidth{
    width: 242px;
    text-align: center;
}

.text-center{
    text-align: center;
}

 p.descriptionPara{
    white-space: pre-line;
    width: 80%;
    margin: 0 auto;
    
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table td input.quantity{
    border: none;
    outline: none;
    border-radius: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0.8px solid black;
    border-right: 0.8px solid black;
    cursor: pointer;
    padding: 11px 5px;
    width: 40px;
}

#cart table thead td,
#cart table tbody td{
    font-family: "Inter" , sans-serif !important;
}

#cart table td a svg {
    color: #d10217;
}

#cart table td img {
    width: 70px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
    
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0px;
}

#cart table tbody tr td{
    padding: 15px 0px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0px;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
} 

#coupon h3,
#subtotal h3 {
    font-family: "Quicksand",sans-serif !important;
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
    border-radius: 5px;
}

#coupon .apply-btn,
#subtotal button {
    /* background-color: #088178; */
    background-color: #222222;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#coupon .apply-btn:hover,
#subtotal button:hover {
    background-color: #59B20E;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
    font-family: "Inter", sans-serif !important;
}

/*max-width:477px*/
@media screen and (min-width:320px ) and (max-width: 767px){
    thead tr td{
        
        width: 400px;
       }
        td.paraWidth p.descriptionPara{
            margin-left: 7px;
            line-height: 17px;
       }
        tbody td:nth-child(4){
            /* width: 50px; */
        width: 400px;
        }
    /*Cart Page Start*/
    #cart-add{
        flex-direction: column;
    }

    #coupon{
        width: 100%;
    }

    #subtotal{
        width: 100%;
        padding: 20px;
    }
    /*Cart Page End*/
}




